In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Read in datasets

In [10]:
param_dfs = []

param_names = [
    "num_particles",
    "inertia",
    "cognition",
    "social"
]

int_columns = [
    "particles",
    "function",
    "epochs"
]

for p in param_names:
    param_dfs.append(pd.read_csv(f"pso-{p}.csv", encoding="utf-8").dropna())
    
    param_dfs[-1].name = p

    for ic in int_columns:
        param_dfs[-1][ic] = param_dfs[-1][ic].astype("int32")

print(param_names[0])
display(param_dfs[0])

num_particles

,combination,iteration,particles,inertia,cognition,social,function,epochs,solution_x,solution_y,fitness,converged
0,0,0,10,0.5,1,1,1,803,0.997775,0.995548,4.955691e-06,False
1,0,1,10,0.5,1,1,1,999,4.512737,20.368080,1.234040e+01,False
2,0,2,10,0.5,1,1,1,803,1.004219,1.008464,1.780603e-05,False
3,0,3,10,0.5,1,1,1,999,0.971673,0.944133,8.024235e-04,False
4,0,4,10,0.5,1,1,1,685,0.996345,0.992698,1.336032e-05,False
...,...,...,...,...,...,...,...,...,...,...,...,...
395,19,15,100,0.5,1,1,2,53,1.000000,3.000000,4.270609e-15,True
396,19,16,100,0.5,1,1,2,51,1.000000,3.000000,7.524350e-16,True
397,19,17,100,0.5,1,1,2,52,1.000000,3.000000,3.324235e-15,True
398,19,18,100,0.5,1,1,2,50,1.000000,3.000000,7.340668e-16,True
399,19,19,100,0.5,1,1,2,50,1.000000,3.000000,4.532557e-15,True

# Combine all DataFrames into one larger DataFrame

In [17]:
pso_df = pd.concat(param_dfs)

var_param = []

var_param.append()

['combination', 'iteration', 'particles', 'inertia', 'cognition', 'social', 'function', 'epochs', 'solution_x', 'solution_y', 'fitness', 'converged', 'var_param']

,combination,iteration,particles,inertia,cognition,social,function,epochs,solution_x,solution_y,fitness,converged,var_param
0,0,0,10,0.5,1,1,1,803,0.997775,0.995548,4.955691e-06,False,NaN
1,0,1,10,0.5,1,1,1,999,4.512737,20.368080,1.234040e+01,False,NaN
2,0,2,10,0.5,1,1,1,803,1.004219,1.008464,1.780603e-05,False,NaN
3,0,3,10,0.5,1,1,1,999,0.971673,0.944133,8.024235e-04,False,NaN
4,0,4,10,0.5,1,1,1,685,0.996345,0.992698,1.336032e-05,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,19,15,100,0.5,1,1,2,53,1.000000,3.000000,4.270609e-15,True,NaN
396,19,16,100,0.5,1,1,2,51,1.000000,3.000000,7.524350e-16,True,NaN
397,19,17,100,0.5,1,1,2,52,1.000000,3.000000,3.324235e-15,True,NaN
398,19,18,100,0.5,1,1,2,50,1.000000,3.000000,7.340668e-16,True,NaN
399,19,19,100,0.5,1,1,2,50,1.000000,3.000000,4.532557e-15,True,NaN